@font-face {
    font-family: "MayakUltraExtendedLight";
    src: url(../fonts/MayakUltraExtendedLight.ttf);
  }


body {
    font-family: "MayakUltraExtendedLight";
    background-color: #F5F5DD;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    background-color: #985454;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    box-sizing: border-box;
  }

  button {
    font-family: "MayakUltraExtendedLight";
    background-color: #985454;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    width: 200px;
  }

  button:hover {
    background-color: #985454;
  }

  h2 {
    color: #F5F5DD;
  }

  label {
    color: #F5F5DD;
  }

  button:hover {
    background-color: #F5F5DD; 
         color: #985454;
   }
   
 